.OurImpact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.ourImpactContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.ourImpactVideo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.ourImpactVideo{
    width: 100%;
    height: 700px;
    background-image: url('https://i.imgur.com/pqdICWJ.gif');
    background-size: 100%;
    background-position: center;
    color: gold;
    text-align: center;
    font-size: 100px;
    font-weight: bold
}
.ourImpactContent{
    width: 65%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 90px;
    color: #999999;
    font-size: 15px;
    margin-bottom: 100px;
    
}
.howTitle{
    font-size: 35px;
    color: rgb(56, 56, 56);
    font-weight: bold;
    margin-bottom: 20px
}
.ourTeamContent div p{
    font-size: 15px;
    font-weight: bold;
}
.wpx1{
    margin-bottom: 50px
}
@media(max-width: 375px){
    .ourImpactVideo{
        background-size: 200%;
        height: 400px
    }
    .ourImpactVideo div{
        font-size: 38px
    }
    .ourImpactContent{
        margin-top: 55px;
        margin-bottom: 50px
    }
    .howTitle{
        font-size: 30px
    }
    .wpx1{
        font-size: 15px;
        margin-bottom: 35px
    }
    .ourImpactContent div p{
        margin-bottom: 0px;
        text-decoration: underline
    }
}