.OurTeam{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.ourTeamContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px
}
.kevinContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 150px
}
.kevinPic{
    width:50%;
    height: 400px;
    background-image: url('../Assets/Screen Shot 2018-02-25 at 4.59.29 PM.png');
    background-size: 100%;
    background-position: center
}
.kevinText{
    width: 46%;
}
.kevinName{
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    padding-bottom: 20px;
}
.kevinPosition{
    font-size: 18px;
    color: #888888;
    font-weight: bold;
    padding-bottom: 20px
}
.frankContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200px
}
.frankPic{
    width:50%;
    height: 400px;
    background-image: url('https://pbs.twimg.com/profile_images/887362459643904000/t9-14qHg.jpg');
    background-size: 100%;
    background-position: center;

}
.frankText{
    width: 46%;
}
.frankName{
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    padding-bottom: 20px;
}
.frankPosition{
    font-size: 18px;
    color: #888888;
    font-weight: bold;
    padding-bottom: 20px
}
.frankQuote{
    color: #999999;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px
}
.gavinContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200px
}
.gavinPic{
    width:50%;
    height: 400px;
    background-image: url('http://northjerseysports.com/images/baseball/2014/052814RFieldEmersonP3.jpg');
    background-size: 100%;
    background-position: center;

}
.gavinText{
    width: 46%;
}
.gavinName{
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    padding-bottom: 20px;
}
.gavinPosition{
    font-size: 18px;
    color: #888888;
    font-weight: bold;
    padding-bottom: 20px
}
.gavinQuote{
    color: #999999;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px
}
.wooContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200px
}
.wooPic{
    width:50%;
    height: 400px;
    background-image: url('../Assets/Screen Shot 2018-02-25 at 4.59.08 PM.png');
    background-size: 100%;
    background-position: center;
}
.wooText{
    width: 46%;
}
.wooName{
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    padding-bottom: 20px;
}
.wooPosition{
    font-size: 18px;
    color: #888888;
    font-weight: bold;
    padding-bottom: 20px
}
.wooQuote{
    color: #999999;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px
}
.anthonyContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200px
}
.anthonyPic{
    width:50%;
    height: 400px;
    background-image: url('../Assets/image1 (1).jpeg');
    background-size: 100%;
    background-position: center;
}
.anthonyText{
    width: 46%;
}
.anthonyName{
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    padding-bottom: 20px;
}
.anthonyPosition{
    font-size: 18px;
    color: #888888;
    font-weight: bold;
    padding-bottom: 20px
}
.anthonyQuote{
    color: #999999;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px
}


@media(max-width: 375px){
    .ourTeamContainer{
        margin-top: 55px;
        margin-bottom:20px
    }
    .kevinContainer{
        margin-bottom: 50px
    }
    .kevinPic{
        width: 90%;
        height: 145px;
    }
    .kevinName{
        font-size: 18px;
        margin-left: 10px
    }
    .kevinPosition{
        font-size: 12px;
        margin-left: 10px;
        padding-bottom: 0px
    }
    .frankContainer{
        margin-bottom: 50px
    }
    .frankPic{
        width: 90%;
        height: 145px;
    }
    .frankName{
        font-size: 18px;
        margin-left: 10px
    }
    .frankPosition{
        font-size: 12px;
        margin-left: 10px
    }
    .gavinContainer{
        margin-bottom: 50px;
    }
    .gavinPic{
        width: 90%;
        height: 145px;
    }
    .gavinName{
        font-size: 18px;
        margin-left: 10px
    }
    .gavinPosition{
        font-size: 12px;
        margin-left: 10px
    }
    .wooContainer{
        margin-bottom: 50px
    }
    .wooPic{
        width: 90%;
        height: 145px;
    }
    .wooName{
        font-size: 18px;
        margin-left: 10px
    }
    .wooPosition{
        font-size: 12px;
        margin-left: 10px
    }
    .anthonyPic{
        width: 90%;
        height: 145px;
    }
    .anthonyContainer{
        margin-bottom: 50px
    }
    .anthonyName{
        font-size: 18px;
        margin-left: 10px
    }
    .anthonyPosition{
        font-size: 12px;
        margin-left: 10px
    }
    .frankQuote{
        display: none;
        padding-bottom: 0px
    }
    .gavinQuote{
        display: none;
        padding-bottom: 0px
    }
    .wooQuote{
        display: none;
        padding-bottom: 0px
    }
    .anthonyQuote{
        display: none;
        padding-bottom: 0px
    }
}